* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #fefefe;
}

/* Nav CSS */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #e74c3c;
    width: 100%;
    height: 100px;
}

nav a {
    text-decoration: none;
    color: #2c2c2c;
    font-size: 50px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    padding-inline-start: 50px;
    list-style-type: none;
    display: inline-block;
    font-size: 26px;
    text-transform: uppercase;
}

nav a h1:hover {
    opacity: 0.65;
    transition: 0.5s;
}

nav li:hover {
    opacity: 0.75;
    transition: 0.5s;
}

@media (max-width: 950px) {
    nav ul li a {
        font-size: 10px;
    }
}

/* Index CSS */
.welcome {
    margin: 20px 0;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1px;
}

.bandPic {
    margin: auto;
    display: block;
    padding-top: 10px;
}

.fadeIn {
    animation: fadeImg 3s;
}

@keyframes fadeImg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.mainP {
    padding: 25px 0;
    text-align: center;
    font-size: 19px;
}

iframe {
    margin: auto;
    display: block;
}

/* Members */
.member {
    padding: 15px;
    width: 290px;
    height: 300px;
}




.text {
    text-align: left;
    padding: 15px;
    font-size: 20px;
}

.line {
    margin: auto;
    display: block;
    width: 50%;
    border: 0.1px solid #e74c3c;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ol li {
    display: flex;
    margin: 0.5em;
    justify-content: center;
    list-style-type: none;
}

.bit {
    text-align: center;
    padding-bottom: 20px;
}



/* Music */


.demos {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 25px;
}

.musicText {
    text-align: center;
    font-size: 20px;
    padding: 0 15px 20px;
}

.row {
    display: flex;
}

.column {
    padding: 0.6em;
    height: 30em;
}

.column.col1 {
    flex-direction: column;
    padding: 0.6em;
    height: 30em;
    flex: 1;
}

.column.col2 {
    flex-direction: column;
    padding: 0.6em;
    height: 30em;
    overflow: auto;
    flex: 1;
}

.column.col3 {
    flex-direction: column;
    padding: 0.6em;
    height: 30em;
    overflow: auto;
    flex: 1;
}

.column.col4 {
    flex-direction: column;
    padding: 0.6em;
    height: 30em;
    overflow: auto;
    flex: 1;
}

.aboutMusic {
    text-align: justify;
    padding: 30px;
}

.below {
    text-align: center;
    font-size: 20px;
}



.center {
    border: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffb5ad;
    color: #010101;
}

th,
tr,
td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
    font-size: 1em;
}




/* Contact */
.contact {
    padding: 30px 50px;
    text-transform: uppercase;
    text-align: center;
}

.hearFrom {
    text-align: center;
    font-size: 20px;
    padding: 0 20px;
    letter-spacing: 1px;

}

.reachOut {
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

.name {
    border: 2px solid #e74c3c;
    width: 20%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.email {
    border: 2px solid #e74c3c;
    width: 20%;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.message {
    border: 2px solid #e74c3c;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.btn {
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 10px;
    color: #e74c3c;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    display: block;
}

.btn:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
    transition: 0.6s;
    color: white;
}

/* Footer */
footer {
    text-align: center;
    color: #626262;
    font-size: 20px;
    padding: 25px 30px 0 0;
}


footer img {
    width: 30px;
}

footer ul li {
    padding-inline-start: 10px;
    list-style-type: none;
    display: inline-block;
    font-size: 22px;
}